<div class="box">
    <mat-card>
        <mat-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Wprowadź dane strzelanki</ng-template>
                    <mat-form-field appearance="fill">
                        <mat-label>Długość list</mat-label>
                        <input matInput type="number" placeholder="20" formControlName="listLength" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext (click)="saveParams()">Dalej</button>
                    </div>
                </form>
            </mat-step>
            <mat-step label="Wypełnij listy">
                <form [formGroup]="userFormGroup">
                    <mat-form-field appearance="fill">
                        <mat-label>Użytkownik</mat-label>
                        <input matInput placeholder="Użytkownik" formControlName="user">
                    </mat-form-field>
                    <button mat-button [disabled]="!userFormGroup.valid" (click)="addUser()">Dodaj</button>
                    <div class="lists">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle *ngFor="let user of users">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                {{user.user}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{user.filled}}/{{listLength}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                                <app-list [user]="user.user" [listLength]="listLength" (filledPosition)="updateFilledByUser($event)"></app-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Wstecz</button>
                        <button mat-button matStepperNext>Dalej</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <app-result></app-result>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-stepper>
    </mat-card>
</div>